# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# Environment variables
.env

# Database
chroma_db/

# OS-specific files
.DS_Store
Thumbs.db

# Editor directories
.vscode/
.idea/

# Build and distribution
build/
dist/
*.egg-info/

# Testing
.pytest_cache/
.coverage

# Jupyter Notebook
.ipynb_checkpoints/